*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(124, 157, 184);
}

.container{
    background-color: rgb(223, 242, 235);
    padding:5rem;
    border-radius: 5%;
    min-height: 20vh;
    min-width: 40vh;
    
}

form{
    margin: 3rem 0 1.5rem 0;
}

form, select, input, button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}


.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.select-container img {
    max-width: 2rem;
    display: flex;
}


.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    padding: 0.2rem;
}
select{
    background-color: rgb(223, 242, 235);
}

